# Next.js application
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_SOCKET_URL=http://localhost:5000

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_replace_me
CLERK_SECRET_KEY=sk_test_replace_me
WEBHOOK_SECRET=whsec_replace_me

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# MongoDB
MONGODB_URI=mongodb+srv://user:password@host/database

# UploadThing
UPLOADTHING_SECRET=sk_replace_me
UPLOADTHING_APP_ID=replace_me

# Stripe
STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
